

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */



html {
    overflow-y:scroll;
}

body, p {
    font-size: 16px;
    line-height: 22px;
}

blockquote {
    margin: 28px 56px 28px 28px;
}

blockquote p {
    font-size: 110%;
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 0;
    font-style: italic;
}

pre {
    overflow: auto;
    white-space: pre;
}

code {
    border: none;
    color: #333333;
    white-space:pre;
}

pre code {
    font-size: 120%;
}

small {
    font-size: 70%;
}

.hero-unit {
  padding: 32px;
}

.hero-unit h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

.hero-unit p {
  line-height: 25px;
}

pre {
    max-height: 600px;
}

h3 {
    margin-bottom: 12px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 6px;
}

/* C# code in a block */
/*
pre code.csharp {
    border: 1px solid black;
    max-height: 600px;
    overflow: auto;
    padding: 5px;
    display: block;
    border-radius: 4px 4px 4px 4px;
}
*/
pre code.csharp {
    display: block;
}

/* C# code that may be block or inline */
.csharp {
    font-family: Consolas, monospace;
    padding: 1px 5px 1px 5px;
/*    background-color: #eeeeee; */
    color: black;
}

/* VS Environment -> Fonts and Colors -> Comment */
.csharp .comment {
    color: green;
}

/* VS Environment -> Fonts and Colors -> Keyword */
.csharp .keyword {
    color: blue;
}

/* VS Environment -> Fonts and Colors -> String */
.csharp .string {
    color: #A31515;
}

/* VS Environment -> Fonts and Colors -> User Types */
.csharp .type {
    color: #2B91AF;
}

/* VS Environment -> Fonts and Colors -> Current Statement */
.csharp .highlight {
    background-color: yellow;
}

.csharp .highlight * {
    color: black;
}


@media (max-width: 768px) {
  .hero-unit {
    padding: 26px 20px 20px 20px;
  }
  .hero-unit h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .hero-unit p {
    font-size: 16px;
    line-height: 22px;
  }
  .hero-wrapper .muted {
    position: absolute;
    top: 8px;
    left: 20px;
  }
  .hero-button {
      padding-bottom: 20px;
  }
}


.maincontent h4 { margin: 16px 0 8px 0; }
.img img { display: block; margin-bottom: 16px; border: solid 1px #666666; }
.img span { text-align: center; }
blockquote p { font-size: 100%; }
blockquote pre { margin: 10px 0; }
